*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 800px;
  padding: 50px;
  margin: 20px auto;
  border: 2px solid #11475a;
  border-radius: 12px;
  background-color: whitesmoke;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

h1{
  color: #11475a;
  font-size: 30px;
}

button {
  background-color: #11475a;
  border: 2px solid #11475a;
  border-radius: 12px;
  color: white;
  padding: 70px 50px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: #11475a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer
}

/* .App button .disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */
